<app-navbar></app-navbar>
<div>
    <p></p>
</div>
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-primary card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">hourglass_empty</i>
                      </div>
                      <p class="card-category">Remaining request</p>
                      <h3 class="card-title">{{totalRequest}} / {{usedRequest}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">precision_manufacturing</i>
                      </div>
                      <p class="card-category">Ml Prediction Rate</p>
                      <h3 class="card-title">{{mlPredictionRate}}</h3>
                      <p></p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">sentiment_very_satisfied</i>
                      </div>
                      <p class="card-category">Total Pleased Rate</p>
                      <h3 class="card-title">{{totalPleasedRate}}</h3>
                      <p></p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">storage</i>

                      </div>
                      <p class="card-category">Total Data Count</p>
                      <h3 class="card-title">{{tweetsCount}}</h3>
                      <p></p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="card card-chart">
                  <div class="card-header card-header-info">
                      <div class="ct-chart" id="dateBasePleasedGraph"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Date Base Pleased Graph</h4>
                      <p class="card-category">You can check last 10 day pleased datas</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
      </div>
          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Tweets Stats</h4>
                      <p></p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>ID</th>
                              <th>Name</th>
                              <th>Tweet</th>
                              <th>is pleased?</th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of clientModels.slice(0, 10); index as i;">
                                  <td>{{i}}</td>
                                  <td>{{item.maskedName}}</td>
                                  <td>{{item.tweet}}</td>
                                  <td>{{item.isPleased}}</td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
<app-footer></app-footer>
